body{
    margin:0;
    text-align:center;
    font-family:'Merriweather',serif;
    color:#40514E;
}

h1{

    font-size:4rem;
    /* margin-top:30px; */
    margin:30px auto 0 auto;
    font-family:'Sacramento',cursive;
    color:#3BACB6;
}
h2{
    font-size:1.5rem;
    font-family: 'Montserrat', sans-serif;
    color:#3BACB6;
    padding-bottom:20px;
}
h3{
    font-family: 'Montserrat', sans-serif;
    color:#11999E;
    padding-bottom:20px;
}
.top-container{
    background-color:#B8FFF9;
    position:relative;
    padding-top:100px;

}
.middle-container{
    /* background-color:#B8FFF9; */
    padding:100px 0 50px 0;
}
.bottom-container{
    background-color:#3BACB6;
    padding:30px 20px;
    /* justify-content: center; */
    /* margin-top:0;
    margin-bottom:0; */
    
}

.cld-top{
    width:160px;
    height:110px;
    left:1250px;
    top:20px;
    position:absolute;
}
.cld-bot{
    width:160px;
    height:110px;
    position:absolute;
    left:350px;
    bottom:325px;
}
.mount{
    width:900px;
    height:400px;
}
.profile_img{
    width:150px;
    height:180px;
    margin:0 auto;
}
.skill-row{
    width:50%;
    margin:50px auto 50px auto;
    text-align:left;
}
.wb{
    width:25%;
    float:left;
    margin-right:30px;
}
.ca{
    width:25%;
    float:right;
    margin-left:30px;
}
/* .wb_p{
    clear:left;
}
.ca_p{
    clear:right;
} */
.intro{
    width:30%;
    margin:0 auto;
}
p{
    line-height:2;
}
hr{
    border:dotted #3BACB6;
    border-bottom:none;
    width:4%;
    margin: 100px auto;
}
.black{
    /* padding-top:20px; */
    color:black;
}
.btn {
    background: #3BACB6;
    background-image: -webkit-linear-gradient(top, #3BACB6, #2980b9);
    background-image: -moz-linear-gradient(top, #3BACB6, #2980b9);
    background-image: -ms-linear-gradient(top, #3BACB6, #2980b9);
    background-image: -o-linear-gradient(top, #3BACB6, #2980b9);
    background-image: linear-gradient(to bottom, #3BACB6, #2980b9);
    -webkit-border-radius: 7;
    -moz-border-radius: 7;
    border-radius: 7px;
    text-shadow: 4px 3px 9px #000000;
    font-family: Arial;
    color: #ffffff;
    font-size: 20px;
    padding: 10px 20px 10px 20px;
    border: solid #1f628d 3px;
    text-decoration: none;
  }
  
  .btn:hover {
    background: #3cb0fd;
    background-image: -webkit-linear-gradient(top, #3cb0fd, #3498db);
    background-image: -moz-linear-gradient(top, #3cb0fd, #3498db);
    background-image: -ms-linear-gradient(top, #3cb0fd, #3498db);
    background-image: -o-linear-gradient(top, #3cb0fd, #3498db);
    background-image: linear-gradient(to bottom, #3cb0fd, #3498db);
    text-decoration: none;
  }


  a{
      color:#005555;
      margin:10px 20px;
      text-decoration: none;
  }
  a:hover{
      color:#EAF6F6;
  }
  .copyright{
      color:#EAF6F6;
      padding-top:20px;
  }